@model GunShop.ViewModels.LocationViewModels.IndexViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Index">
    <div class="form-horizontal">
        <h4>Add</h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Adress" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Adress" class="form-control" />
                <span asp-validation-for="Adress" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Coordinates" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Coordinates" class="form-control" />
                <span asp-validation-for="Coordinates" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IsShop" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IsShop" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="submitButton" type="submit" value="Add" class="btn btn-default" />
            </div>
        </div>      
    </div>
</form>


<h2>Shops</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Adress
            </th>
            <th>
                Coordinates
            </th>
            <th>
                Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var shop in Model.Shops) {
        <tr>
            <td>
                @shop.Adress
            </td>
            <td>
                @shop.Coordinates
            </td>
            <td>
                @shop.Name
            </td>
            <td>
                <a asp-action="DeleteShop" asp-route-shopId="@shop.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<h2>Storages</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Adress
            </th>
            <th>
                Coordinates
            </th>
            <th>
                Name
            </th>
            <th>
                Stored
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var storage in Model.Storages)
        {
            <tr>
                <td>
                    @storage.Adress
                </td>
                <td>
                    @storage.Coordinates
                </td>
                <td>
                    <a asp-action="Storage" asp-route-storageId="@storage.Id">@storage.Name</a>
                </td>
                <td>
                    @storage.StoredCommodities.Count()
                </td>
                <td>
                    <a asp-action="DeleteStorage" asp-route-storageId="@storage.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>