@model IEnumerable<GunShop.ViewModels.CommodityViewModels.CommodityBO>

@{
    ViewData["Title"] = "AllCommodityTypes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
    @if (Model.Count() > 0)
    {
        <a class="btn btn-default" asp-controller="Orders" asp-action="MakeOrder">Make Order</a>
    }    
    <a class="btn btn-default" asp-controller="Orders" asp-action="My">Orders</a></h1>
<h1>Sum: @Model.Sum(item => item.Price)</h1>
<table class="table" id="allCommoditiesTable">
    <thead>
    <tr>
        <th>
            Model
        </th>
        <th>
            Price
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var c in Model.OrderBy(cbo => cbo.Model)) {
        <tr>
            <td>
                @c.Model
            </td>
            <td>
                @c.Price
            </td>
            <td>
                <form asp-controller="Chart" asp-action="RemoveCommodityFromChart" method="post" asp-route-commodityId="@c.Id">
                    <button type="submit" class="btn btn-link">Remove from chart</button>
                </form>
                <a class="btn btn-link" asp-controller="Commodity" asp-action="Details" asp-route-commodityTypeId="@c.CommodityTypeId">Details</a>
            </td>
        </tr>
    }
    </tbody>
    
</table>


@section Scripts{
    <script src="/js/Chart.js"></script>
}
