@model GunShop.ViewModels.CommodityViewModels.AllCommodityTypesViewModel

@{
    ViewData["Title"] = "AllCommodityTypes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Shop</h2>

<h4>Categories:</h4>

@foreach (var cat in Model.SubCategories)
{
    <p><a asp-action="AllCommodityTypes" asp-route-categoryId="@cat.Id">@cat.Name</a></p>
}

<table class="table" id ="allCommoditiesTable">
    <thead>
    <tr>
        <th>
            Manufacturer
        </th>
        <th>
            Model
        </th>
        <th>
            Sizes
        </th>
        <th>
            Weight
        </th>
        <th>
            Other chars
        </th>
        <th>
            Available
        </th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var ct in Model.CommoditiesTypes) {
        <tr>
            <td>
                @ct.ManufacturerPreview.Preview
            </td>
            <td>
                <a asp-action ="Details" asp-route-commodityTypeId="@ct.Id">@ct.Model</a>
            </td>
            <td>
                @ct.Size
            </td>
            <td>
                @ct.Weight
            </td>
            <td>
                @foreach(var c in ct.CharacteristicPreviews)
                {
                    <span>@c.CharacteristicName:@c.Value </span>
                }
            </td>
            <td>
                @ct.AvailableCount
            </td>
            <td>
                @if (ct.AvailableCount > 0)
                {
                    <form 
                          asp-controller="Chart" 
                          asp-action="AddCommodityToChart" 
                          method="post" 
                          asp-route-commodityTypeId="@ct.Id">
                        <button type="submit" class="btn btn-link">Add to chart</button>
                    </form>
                }
                else
                {
                    <form>
                        <button type="submit" class="btn btn-link">Notify when available</button>
                    </form>
                }
            </td>
            <td>
                @if (User.IsInRole("ADMIN"))
                {
                    <a 
                       asp-controller="Category" 
                       asp-action="SelectCategoryToAdd" 
                       asp-route-commodityid="@ct.Id">
                       Add to Category
                    </a>
                }
                
            </td>
        </tr>
    }
    </tbody>
</table>

@section Scripts{
    <script src="/js/AllCommodityTypes.js"></script>
}